<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
  <h3>進振りサービスUT_Shinhuriiへのお問い合わせ</h3>
  <p>以下の内容のお問い合わせを承りました。</p>
  <ul>
    <li>名前:<%= @inquiry.name %></li>
    <li>メールアドレス:<%= @inquiry.email %></li>
    <li>お問い合わせ内容:<%= @inquiry.message %></li>
  </ul>
  <br>
  <p>*このメールアドレスは送信専用です。</p>
  <h3>KALSProject<br> UT_Shinhurii運営</h3>
</html>
