<html>

<head>
  <title>進振りサービス</title>
  <meta charset="utf-8">
</head>

<body>
  <h1>進振りサービス for 東大生</h1>
  <% if session[:user_id] %>
    <a href="/input/基礎科目">成績入力画面へ</a>
  <% end %>
</body>

</html>
