<html>

<head>
  <title>ログインフォーム</title>
  <meta charset="utf-8">
</head>

<body>
  <h1>ログイン</h1>
  <% if @error_message.present? %>
    <strong><%= @error_message %></strong>
  <% end %>
  <%= form_tag("/login") do %>
    <p>ユーザ名</p>
    <input name="name">
    <p>パスワード</p>
    <input type="password" name="password">
    <input type="submit" value="ログイン">
  <% end %>
  <p>または<%= link_to("新規登録", "/user/new") %></p>
</body>

</html>
