<html>

<head>
  <title>ログインフォーム</title>
  <meta charset="utf-8">
</head>

<body>
 <div class="container-us">
 <div class="card-pannel">
  <h5 class="h5-us">ログイン</h5>
  <div calss="card-contents">
  <% if @error_message.present? %>
    <strong><%= @error_message %></strong>
  <% end %>
  <%= form_tag("/login") do %>
    <p>東京大学指定のメールアドレス</p>
    <input name="email">
    <p>パスワード</p>
    <input type="password" name="password">
    <input type="submit" value="ログイン">
  <% end %>
  <p>または<%= link_to("新規登録", "/user/new") %></p>
	</div>
	</div>
    </div>
</body>

</html>
