<p><%= @email %>さん、こんにちは!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>あなたの登録メールアドレスは、<%= @resource.unconfirmed_email %>に変更されようとしています。</p>
<% else %>
  <p>あなたの登録メールアドレスは、<%= @resource.email %>に変更されました。</p>
<% end %>
